.glr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

h1 {
  text-align: center;
}

.glr img {
  width: clamp(200px, 100%, 450px);
  height: 450px;
  object-fit: cover;
}

