body {
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
}

body.darkmode {
  background-color: black;
  color: white;
}

label {
  width: 200px;
  height: 100px;
  position: relative;
  display: block;
  border-radius: 15rem;
  background-color: white;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -5px 15px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.5s;
  
}

label:after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  border-radius: 5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  left: 190px;
  transform: translateX(-100%);
  background: black;
}

header {
  height: 80vh;
  color: white;
  text-shadow: 2px 2px black;

  background-image: radial-gradient(rgb(82, 82, 82), rgba(132, 131, 131, 0.302), rgba(91, 91, 91, 0.777)), url(../images/img9.jpg);
  background-color: brown;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;

  text-align: center;
}

header h1 {
  font-size: 64px;
}

header h1, p, button {
  margin-top: 15px;
  margin-bottom: 0;
 
  max-width: 40ch;
}

button {
  padding: 15px;
  border-radius: 30px;
  background-color: #CC4E39;
  color: white;
  border-color: #041432;
  cursor: pointer;
}

button:hover {
  background-color: #041432;
  border-color: #CC4E39;
}

.darkmode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .25rem;
}

footer {
  background-color:   #177380;
  padding: 1rem;
}

footer p {
  text-align: center;
  max-width: none;
}

